.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: bisque;
    color: brown;
}

.nav a {
    padding: 10px;
    text-decoration: none;
    color: brown;
    margin-top: 20px;
}
.nav li {
    padding: 10px;
    text-decoration: none;
    color: brown;
    margin-top: 20px;
}

.nav a:hover{
    color: pink;
}