.contador{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    margin: 5%;
    background-color: bisque;
    padding: 20px;
    width: 300px;
    height: 85px;
    border-color: black;
    border-style: solid;

}
.botonCarrito{
    width: 100%;
}